.btn {
    border: var(--color-60) solid 1px;
    background-color: var(--color-20);
    color: var(--color-60);    
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin: 4px 2px;
    padding: 0 1em;
    cursor: pointer;
    border-radius: 30px;
    height: 2em;
}

.btn-primary {
    background-color: var(--color-50);
    color: var(--color-20);
}

.btn-onechar {
    border-radius: 50%;
    aspect-ratio: 1;
    padding: 5px 5px;
}

.btn:hover {
    background-color: var(--color-40); 
}

.btn-small {    
    font-size: 12px;
}