input[type=text] {    
    width: 100%;      
    
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;    
    padding: 5px;
}

.inpt-shadowed {
    border:0; 
    border-radius:5px;
    box-shadow: 0 0 5px var(--color-40);
}

.inpt-shadowed:hover {    
    box-shadow: 0 0 5px 2px var(--color-40);
}

.inpt-shadowed:focus {    
    outline: none;
    box-shadow: 0 0 5px 2px var(--color-50);
}

.inpt-underlined {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--color-40);
}

.inpt-underlined:hover {    
    border-bottom: 2px solid var(--color-40);
}

.inpt-underlined:focus {  
    outline: none;  
    border-bottom: 2px solid var(--color-50);
}


.float-up {
    width: 400px;
    position: relative; 
    margin: 15px; 
    display: block;    
} 

.float-up span {    
    position: absolute;    
    left: 10px;   
    top: 5px;   
    transform: translateY(0);
    transition-duration: 300ms;
    color: var(--color-40);
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;   
    border-radius: 5px; 
    padding: 1px; 
  }

  .float-up > input[type=text]:not(:placeholder-shown)+span,
  .float-up > input[type=text]:focus+span {
    transform: translateY(-22px);
    font-size: 0.8em;
    font-weight: 700;
    color: var(--color-50);
   /* background-color:  white; var(--color-10); */
    transition-duration: 300ms;
    letter-spacing: 0;
  }