.navbar {
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--color-60);
  }
  
.navbar li {
    float: left;
    height: 90%;
  }
  
.navbar li a {
    display: block;        
    text-align: center;
    color: var(--color-20);
    padding: 14px 16px;
    text-decoration: none;
  }
  
.navbar li a:hover {
    background-color: var(--color-40);             
  }

.navbar li.right {
    float: right;
  }
  
.navbar .active {
    background-color: #04AA6D;
  }