input[type=text] {    
    width: 200px;
    border:0;
    box-shadow: 0 0 5px var(--color-40);
    border-radius:5px;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;    
    padding: 5px;
}

input[type=text]:hover {    
    box-shadow: 0 0 5px 2px var(--color-40);
}

input[type=text]:focus {    
    outline: none;
    box-shadow: 0 0 5px 2px var(--color-50);
}

.custom-field {
    position: relative;      
} 

.custom-field .placeholder {
    position: absolute;
    left: 12px;
    bottom: 50%;
    top: 22px;  
    transform: translateY(-50%);
    width: calc(100% - 24px);  
    color: blueviolet;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }