:root {    
    --main-font-size: 16px; 
    --main-font-family:  Roboto,Arial,sans-serif; 
    --main-font-weight: 400; 

    --color-70: #323c45;
    --color-60: #46535f;
    --color-50: #687b8c;
    --color-40: #c3d1dd;
    --color-30: #e1eaf1;
    --color-20: #ebf2f7;
    --color-10: #f5f8fa;
    }

    *, *:before, *:after {
        box-sizing: border-box;
      }

    .rg-border {
        border: solid red 1px;
    }

    html {
        font-size: var(--main-font-size);
        letter-spacing: 0.1em;
        font-family: var(--main-font-family); 
        color: var(--color-60);
    }

    body {
        margin: 50px 0;
        background-color: var(--color-20);        
    }

    .bold {
        font-weight: 600;
    }

    .to-do {
        margin-top: 2em;
    } 

    .to-do::before {
        content: "TODO: ";
     }

    h6 {
        font-size: 1.2em; 
    }
    
    h5 {
        font-size: 1.4em;
    }

    h4 {
        font-size: 1.5em;
    }
    
    h3 {
        font-size: 1.6em;
    }

    h2 {
        font-size: 1.8em;
    }

    h1 {
        font-size: 1.8em;
    }


.main-content {
  padding-left: 20px;
  padding-right: 10px;
  margin-top: 50px;  
}
   